@import url(http://weloveiconfonts.com/api/?family=fontelico);

font-family: 'Ubuntu', sans-serif;



/* zocial */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}



.container {
  width: 100%;
  max-width: 100%;
  margin; 0px;
}

.color-swatch {
  padding-top: 150px;
  padding-left: 75px;
}
.logo {
  height: 75px;
  width: 75px;

}

.profile-photo {
  height: 75%;
  width:80%;
  margin-bottom: 5px;
}

.headline {
  border-bottom: solid 1px;
  margin-bottom: 5px;

}

.center {
  margin: 0 auto;
  width: 80%;
}

.color-thumbnail {
  height: 50px;
  width: 50px;
}

h1 {
  font-weight: lighter;
  font-size: 70px;
  font-family: Ubuntu;
}

h2 {
font-family: Ubuntu;
}

h3 {
 color: #7d97ad;
 padding-left: 45px;
 padding-top: 45px;
 font-family: Ubuntu;
}

h4 {
  font-size: 20px;
  font-family: Ubuntu;
}
